<div class="row">
  <div class="col-6" id="mirroredDiv">
    <lib-ngx-image-zoom
      #mirrored
      (zoomPosition)="mirrorImagePosition()"
      [thumbImage]="leftThumbnail"
      [fullImage]="leftFullresImage"
      [magnification]="magnification"
      [enableLens]="true"
      [lensWidth]="200"
      [lensHeight]="200"
      [minZoomRatio]="-1"
      [maxZoomRatio]="5"
      [circularLens]="true"
      style="width: 100%; height: auto"
    >
    </lib-ngx-image-zoom>
  </div>
  <div class="col-6">
    <lib-ngx-image-zoom
      #getMirrored
      [thumbImage]="rightThumbnail"
      [fullImage]="rightFullresImage"
      [enableLens]="true"
      [lensWidth]="200"
      [lensHeight]="200"
      [minZoomRatio]="-1"
      [maxZoomRatio]="5"
      [circularLens]="true"
      style="width: 100%; height: auto"
    >
    </lib-ngx-image-zoom>
  </div>
</div>
